
.card {
  border: 1px solid hsla(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 250px; 
  height: 350px;
  display: inline-block;
  vertical-align: top; 
}

.card .card-image {
  width: 100%;
  height: 180px; 
  object-fit: cover; 
  border: 1px solid hsla(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.432);
}

.card .card-title {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 5px;
}

.card .card-description {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 10px;
}

.card .card-link {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  font-weight: 100;
  text-decoration: underline;
}
